div {
	font-weight: bold;
	height: 50px;
	line-height: 25px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	width: 220px;
}

.blue {
	background-image: linear-gradient(to top, #4377FA, #0537B7);
}

.reverse-blue {
	background-image: linear-gradient(to top, #0537B7, #4377FA);
}

.omg-pink {
	background-image: linear-gradient(to right, #FC0050, #FF79A3);
}

.stops {
	background-image: linear-gradient(to top, #F5B951 48%, #F2A31C 56%);
}